{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Filter</h1>

<form method="POST">

  <input type = "text" id ="search" class ="form-control"></input>

  <button type="button" class="btn btn-secondary">Иргэн</button>
  <button type="button" class="btn btn-secondary">Эрүү</button>
  <button type="button" class="btn btn-secondary">Захиргаа</button>
  <button type="button" class="btn btn-secondary">Шийдвэр гүйцэтгэх</button>
  <button type="button" class="btn btn-secondary">Зөрчил</button>
  <button type="button" class="btn btn-secondary">Бусад</button>

</form>






{% endblock %}
